body {
  margin: 0;
  background-color: #242222;
  font-family: 'Quicksand';
  font-weight: 400;
  color: #222;
}

.site_wrap {
  background-image: url('img/fond3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  max-width: 75rem;
  margin:  2rem auto;
  border: 1px solid #3C6E71;
  box-sizing:border-box;
}

header {
  min-height: 11rem;
  display:grid;
  grid-template-columns: 22rem auto;
  border-bottom: 1px solid #3C6E71;


}

.site_title {

  font-family: 'Tenor Sans';
  font-size: 3rem;
  color: #E6DADA;
  line-height:11rem;
  margin: 0 0 0 3rem;
}



nav {
  text-align: right;
  margin: 0 3rem 0 0;
}

nav a{
 font-size: 1.5rem;
 font-family: 'Mukta';
 font-weight: 200;
 color: #fff;
 text-decoration: none;
 display: inline-block;
 height: 11rem;
 line-height: 11rem;
 margin-left: 3rem;
 border-bottom: 4px solid rgba(0,0,0,0);
}

nav a:hover, nav a.active{
  color: #d9d9d9;
  border-bottom: 4px solid #d9d9d9;

}


svg {
  Stroke: #E6DADA;
  stroke-width: 5;
  margin-right: 1rem;
  vertical-align: middle;
}

.frsbar {
  width:30px;
}


.open_menu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.burger {
  display: none;
  font-family: 'Mukta';
  font-weight: 200;
  color: #E6DADA;
  font-size: 1.25rem;
  padding: 0 3rem;
  height: 3.5em;
  line-height:3.5em;
  border-top: 1px solid #3C6E71;
  cursor: pointer;
}

main{
  min-height: 0rem;
}

footer{
  height:7rem;
  background-color: #353535;
  border-top: 1px solid #3C6E71;
  text-align: center;
  color:#fff;
}
footer p{
  line-height: 7rem;
  margin: 0;
}

 img.one {
   display: block;
   margin-left: auto;
   margin-right: auto;
   Margin-top: 7rem;
  height: auto;
  width: 30rem;
  border: 1px solid #D9D9D9;

}


.rectanglehome {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width:30rem;
  height:auto;
  background: rgba(217, 217, 217, 0.7);
  text-align: center;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem ;
}
.rectanglebio {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width:30rem;
  height:auto;
  background: rgba(217, 217, 217, 0.7);
  text-align: center;
}
.rectangleconcerts {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding: 1rem;
  width:30rem;
  height:auto;
  background: rgba(217, 217, 217, 0.7);
  text-align: center;
  display: grid;
  grid-template-rows: 6rem 5rem;
}


.media{
  display: grid;
  grid-template-rows: auto;
  margin-left: 1px;
  text-align: left;
}
.media iframe{
  width: 35rem;
  height: 19.75rem;
}
.rectanglemedia {
  padding: 5rem;
}

.rectanglemedia:nth-child(odd) {
  background: rgba(230, 218, 218, 0.7);
}
.rectanglemedia:nth-child(even) {
  background: rgba(217, 217, 217, 0.2);
  color: #E6DADA;
}


.horizontalgrid {
  display:grid;
  grid-template-columns: 6rem 10rem auto;
  padding-bottom: 3rem;
}
.horizontalgrid img{
  width: 5rem;
  height: auto;
}
.p1 {
  font-family: 'Tenor Sans';
  font-size: 3rem;
  margin: auto;
}

.p2 {
  font-family: 'Quicksand';
  font-weight: 100;
  font-size: 1.5rem;
  margin: auto;
}

.button_lastrow {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  column-gap: 20%;
  margin-top: auto;
  margin-left: 2rem;
}
img.button_player {
  height: auto;
  width: 4rem;
  padding: 20 20 20 20;
  margin-bottom: 1rem;

}


.bio{
  display:grid;
  grid-template-columns: 50% auto;
  font-family: 'Quicksand';
  font-weight: 100;
  font-size: 1.125rem;
  margin: auto;
  }



@media (max-width:75rem){

  .site_wrap{
    margin: 0;
  }

  header{
    grid-template-columns: 100%;
    min-height: 7rem;
  }

  .site_title {
    text-align: center;
    margin: 0;
    line-height:8rem;
    font-size: 3rem;
  }

  nav {
    text-align: left;
    padding: 0 3rem;
  }

  nav a {
    display:block;
    margin: 0;
    height: 3.5em;
    line-height: 3.5em;
  }

  .burger {
    display: block;
  }

  .open_menu + .burger + nav{
    display: none;
    height: 0;
  }

  .open_menu:checked + .burger {
    background: #4793D5
    color: #fff
  }

  .open_menu:checked + .burger + nav{
    display: block;
    height: auto
  }

  .open_menu:checked + .burger + svg{
    stroke: #fff;
  }
  .bio{
   grid-template-columns: 100%;
   grid-gap: :3rem;
  }
}

@media (max-width:45rem){
  .media{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
  }
  .rectanglemedia{
    padding: 2rem;
  }
  .media iframe{
    width: 25rem;
    height: 14rem;
    padding:1rem
  }

}


@media (max-width:35rem){
  .burger {
    font-size: 6vw;
    padding: 0 2rem;
  }
  nav {
    padding: 0 2rem;
  }
  nav a{
    font-size: 6vw;
  }
  .site_title {
    font-size: 10vw;
    }
  .hero_tagline {
    font-size: 14vw;
    }
  a.blue_button {
    font-size: 6vw;
  }
  .page_heading {
    font-size: 10vw;
    margin-bottom: 2rem;
  }
  .page {
    padding: 2rem;
  }
  img.one {
     width: 80vw;

  }
  .rectanglehome {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vw;
    width:75vw;
    height:auto;
    background: rgba(217, 217, 217, 0.7);
    text-align: center;
    display: grid;
    grid-template-rows: 15vw 15vw 15vw;
  }
  .rectanglebio {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vw;
    width:75vw;
    height:auto;
    background: rgba(217, 217, 217, 0.7);
    text-align: center;
    font-size: 3vw;
    padding:1vw;
  }
  .rectangleconcerts {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vw;
    width:75vw;
    height:auto;
    background: rgba(217, 217, 217, 0.7);
    text-align: center;
    display: grid;
    grid-template-rows: 15vw 15vw 15vw;
    padding: 2vw;
  }

  .p1 {
    font-size: 8vw;
  }

  .rectangleconcerts h1 {
    font-size: 8vw;
  }

  .p2 {
    font-size: 5vw;
  }


  .button_lastrow {
    grid-template-columns: 10vw 10vw 10vw;
    column-gap: 20%;
    margin-left: 10vw;
  }
  img.button_player{
    width: 10vw;
    height: auto;
  }
  .media{
    display: grid;
    grid-template-rows: auto;
    text-align: left;
  }
  .rectanglemedia{
    padding: 5vw;
    font-size: 3vw;
  }
  .media iframe{
    width: 50vw;
    height: 28vw;
    padding:3vw
  }
  .horizontalgrid {
    grid-template-columns: auto 20vw auto;
    grid-column-gap: 10vw;
    font-size: 2vw;
  }


  .horizontalgrid img{
    width: 10vw;
    height: auto;
  }
  .horizontalgrid input{
    width: 20vw;
    height: auto;
  }

}
